config SDXI
	tristate "SDXI support"
	select DMA_ENGINE
	select DMA_VIRTUAL_CHANNELS
	select PACKING
	help
	  Enable support for Smart Data Accelerator Interface (SDXI)
	  Platform Data Mover devices. SDXI is a vendor-neutral
	  standard for a memory-to-memory data mover and acceleration
	  interface.

config SDXI_KUNIT_TEST
       tristate "SDXI unit tests" if !KUNIT_ALL_TESTS
       depends on SDXI && KUNIT
       default KUNIT_ALL_TESTS
